<div class="contentbox-4">
    <div class="head">
        <h1>Any Questions?</h1>
        <p>Ask Us</p>
        <div class="inline" style="margin-top: 100px;">
            <img src="assets/images/phone.jpg" alt="phone" class="inlineimg">
            <p class="inline-text">Call at +91-84691-49288   </p>
        </div>
        <p style="text-align:center;font-family:Poppins;font-size:25px;font-style:normal;font-weight:400;letter-spacing:0.01em;"> Or</p>
        <div class="inline">
            <img src="assets/images/whatsapp.jpg" alt="wp" class="inlineimg">
            <p class="inline-text">WhatsApp at +91-84691-49288 </p>
        </div>
    </div>
</div>