<div id="contentbox-1">
    <div id="pwithus">
        <h1>Want To Earn With Us ?</h1>
        <h4>Become Our Partner</h4>
        <h5>Earn profits from our experience & help build awesome careers of students & graduates</h5>
        <div class="inline">
            <img src="assets/images/percentage.png" alt="percen" class="inlineimg">
            <p class="inline-text">Upto 30% commissions for every successful referral</p>
        </div>
        <div class="inline">
            <img src="assets/images/dollar.png" alt="dollar" class="inlineimg">
            <p class="inline-text">Potential to earn upto Rs 3000 daily</p>
        </div>
        <div class="buttons">
            <input type="button" class="pbutton1" value="Our Works">
            <input type="button" class="pbutton2" value="Know More">
        </div>
    </div>
</div>   
